@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,600;1,700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background: radial-gradient(#555555, #000000);
  height: 100vh;
  width: 100vw;
  color: #E5E5E5;
  font-family: sans-serif;
  min-height: 540px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.psycomode {
	background: linear-gradient(
    -90deg, #47CFA8, #4792CF, #4750CF, #8647CF, #E14E62, #EE7752,  #EEA352, #EEC252, #EEE152, #D2E54F, #71D549
    );
	background-size: 900% 900%;
	animation: gradient 30s linear infinite;
  opacity: 90%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#display {
  color: #F8F8F8;
  font-size: 350%;
  font-weight: 700;
  font-family: 'Exo 2', sans-serif;
  font-style: italic;
  width: inherit;
  max-height: 140px;
  text-align: right;
  background-color: transparent;
  border: none;
  padding: 30px 30px;
  caret-color: #1F1F1F;
  overflow: hidden;
  resize: none;
  outline: none;
  text-shadow: 1px 1px 4px #2222222f;
}


.calculator {
    width: 368px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1F1F1F;
    box-shadow: 2px 2px 12px #000;
}

.keypad {
    background-color: #060606;
    width: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}

.clear-btn {
  width: inherit;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  background: transparent;
  background: linear-gradient(
    -90deg, #47CFA8, #4792CF, #4750CF, #8647CF, #E14E62, #EE7752,  #EEA352, #EEC252, #EEE152, #D2E54F, #71D549
    );
  background-size: 900% 900%;
  animation: gradient 30s linear infinite;
  opacity: 80%;
}

.key, .operator {
    width: 92px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #1F1F1F;
    font-size: 2em;
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    outline: none;
}

.key {
    background:  #060606;
    color: #fefefe;
}

.operator {
    background-color: #131313 !important;
    color: #ccc;
}

#eq {
    background-color: #a73434 !important;
}

.display {
    display: flex;
    width: inherit;
    height: auto;
}

::selection {
    background-color: #a73434bf;
}
.key:hover, .operator:hover  {
    cursor: pointer;
    font-weight: bolder;
    background: coral !important;
    color: #fefefe;
}

#transparent {
  background: transparent !important;
  color: #fefefe;
  font-size: 17px;
  border: none;
}

#transparent:hover {
  color: #000;
}

#calc {
  fill: #fff;
}
#calc::after{
  content: "34234234234234";
}
.img-container {
  position: absolute;
  right: 10px;
  top: 10px;
}
.img-container::before {
  content: "by Jordan Mafi and Bernard Solien";
  font-family: 'Exo 2', sans-serif;
  font-size: 1em;
  padding: 0 5px 0 0;
  vertical-align: 40%;
}
@media(max-width:960px){
  .image-container {
    display: hidden;
  }
}
